.container-dark {
  background-color:var(--background-dark);
}

.container-light {
  background-color: var(--background-light);
}
.container-box{
  display:flex;
  flex-direction: column;
}

.headerMain-box {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.alert-warning {
  text-align: center;
  padding: 5px;
  background-color: var(--warning-background);
  opacity: 1;
  transition: opacity 0.6s;
  margin: 5px;
}