.container-dark {
  background-color:var(--background-dark);
}

.container-light {
  background-color: var(--background-light);
}
.container-box{
  display:flex;
  flex-direction: column;
}

.headerMain-box {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
 