footer {
    flex-shrink: 0;
}

header {
    flex-shrink: 0;
    display: flex;
}

.home-link {
    flex: 1;
}

.theme-switch {
    flex: 1;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    flex: 3;
}

nav ul li {
    padding: 0.5rem;
}