.text-dark {
    color:var(--text-dark)
}

.text-light {
    color: var(--text-light)
}

.small-text {
    font-size: 12px;
}

.regular-text {
    font-size: 24px;
}

.large-text {
    font-size: 48px;
}

.warning-text {
    font-size: 18px;
}

.warning-text-dark {
    color: var(--warning-text-dark);
}

.warning-text-light {
    color: var(--warning-text-light);
}