.switch-button{
    border: none;
    border-radius: 70%;
    padding: 15px 32px;
}

.button-dark {
    background-color:var(--transparent);
}

.button-dark:hover {
    background-color: var(--hover-dark);
}

.button-light {
    background-color:var(--transparent);
}

.button-light:hover {
    background-color: var(--hover-light);
  }
