.switch-button{
    border: none;
    border-radius: 70%;
    padding: 15px 32px;
}

.button-dark {
    background-color: #000;
}

.button-dark:hover {
    background-color: #333333;
}

.button-light {
    background-color: #fff
}

.button-light:hover {
    background-color: #777777;
  }
