:root {
      --background-dark: #000000;
      --background-light:#fff;
      --text-dark:#fff;
      --text-light: #000;
      --bell-dark:#fff;
      --bell-light: #000;
      --transparent:transparent;
      --hover-dark:#333333;
      --hover-light:#bbbbbb;
      --warning-background: #ff9800;
      --warning-text-dark: #fff;
      --warning-text-light: #fff;
      --button-selected-dark: #610363;
      --button-selected-light: #bbbbbb;
      --button-selected-light-hover: #333333;
      --button-selected-dark-hover: #bbbbbb;
      --header-border: #555555;
      --footer-border:#555555;
      --sbt-btn-dark:#000;
      --sbt-btn-light:#fff;
}