.routine-main{
    
    flex-direction: column;
}

.routine-box{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
input{
    min-height: 2rem;
    margin:20px;

}

.set-routine {
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    align-items: baseline;
    justify-content: space-evenly;
    margin-top: 5%;
}

.set-times{
    display: inline-flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    flex:1;
}

.start-time {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.end-time {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.number-interval-box{
    display: inline-flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    flex:1;
}

.ring-num {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.min-interval{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.day-button-box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.day-button{
    display: flex;
    flex-direction: row;  
    margin: 0.2rem;
    padding:0.5rem;
    border-radius: 50%;  
}

.day-button-dark{
    border:solid 1px var(--background-light);
    background-color: var(--background-dark);
}

.day-button-light{
    border:solid 1px var(--background-dark);
    background-color: var(--background-light);
}

.day-button-dark:hover {
    background-color: var(--hover-dark);
}

.day-button-light:hover {
    background-color: var(--hover-light);
}

.button-selected-dark {
    background-color: var(--button-selected-dark);
}

.button-selected-light {
    background-color: var(--button-selected-light);
}

.button-selected-dark:hover {
    background-color: var(--button-selected-dark-hover);
}

.button-selected-light:hover {
    background-color: var(--button-selected-light-hover);
}

.button-sizer{
    display: flex;
    min-height: 1.4rem;
    min-width: 1.4rem;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.day-selected {
    background-color: var();
}

.days-selector{
    display: flex;
    flex-direction: column; 
    flex:1;
    align-items: center;
}

.sbt-btn{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 2%;  
    min-height:2rem;
    min-width: 5rem;
    padding:5px;
}

.sbt-btn:active {
    transform: translateY(1px);
}

.sbt-btn-dark:hover p::after {
    content: " >>";
    color: var(--text-dark);
}

.sbt-btn-dark {
    background-color: var(--sbt-btn-dark);
    border: solid 1px var(--background-light)
}

.sbt-btn-dark:hover {
    background-color: var(--hover-dark);
}

.sbt-btn-light {
    background-color: var(--sbt-btn-light);
    border: solid 1px var(--background-dark)
}

.sbt-btn-light:hover {
    background-color: var(--hover-light);
}

.sbt-btn-light:hover p::after {
    content: " >>";
    color: var(--text-light);
}