.set-routine {
    display: flex;
    flex-direction: column;
}

.start-time {
    display: inline-flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.end-time {
    display: inline-flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.ring-num {
    display: inline-flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.alert-warning {
    text-align: center;
    padding: 5px;
    background-color: var(--warning-background);
    opacity: 1;
    transition: opacity 0.6s;
    margin: 5px;
  }
