.bell-button {
    border: none;
    padding: 3%;
    border-radius: 30%;
    background-color: var(--transparent);
    min-height: auto;
    min-width: auto;
    max-height: max-content;
    max-width: max-content;
}

.bell-button-dark:hover {
    background-color: var(--hover-dark);
}

.bell-button-light:hover {
    background-color: var(--hover-light);
}

.bell-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}